In [1]:
import pandas as pd
import re
df = pd.read_excel('wikipedia_dataset_flat.xlsx')
#df.head()

In [2]:
def extract_language(url):
    language_mapping = {
        'en': 'English',
        'de': 'German',
        'zh': 'Chinese',
        'ja': 'Japanese',
        'es': 'Spanish',
        'fr': 'French',
        'ru': 'Russian',
    }

    match = re.search(r'_([a-z]{2})\.', url)  # Extract two-letter language code
    if match:
        language_code = match.group(1)
        return language_mapping.get(language_code, None)
    return None


df['page_language'] = df['page'].apply(extract_language)

df.head()

,date,page,visits,page_language
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,English
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,English
2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0,German
3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0,English
4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0,English

In [3]:
def extract_device_type(url):
    match = re.search(r'_(mobile-web|desktop|all-access)', url)
    if match:
        return match.group(1)
    return None

df['access_device_type'] = df['page'].apply(extract_device_type)

df.head()

,date,page,visits,page_language,access_device_type
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,English,all-access
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,English,mobile-web
2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0,German,desktop
3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0,English,all-access
4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0,English,desktop

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y %I:%M:%S %p')

df['day_of_the_week'] = df['date'].dt.day_name()
df['month'] = df['date'].dt.month_name()
df.head()

,date,page,visits,page_language,access_device_type,day_of_the_week,month
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,English,all-access,Friday,January
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,English,mobile-web,Friday,January
2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0,German,desktop,Friday,January
3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0,English,all-access,Friday,January
4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0,English,desktop,Friday,January

In [14]:
df["page_language"].fillna("N/A", inplace=True)
df[560:565]

,date,page,visits,page_language,access_device_type,day_of_the_week,month
560,2016-01-01,Fifty_Shades_of_Grey_en.wikipedia.org_mobile-w...,10233.0,English,mobile-web,Friday,January
561,2016-01-01,File:1x1.png_commons.wikimedia.org_all-access_...,18153.0,N/A,all-access,Friday,January
562,2016-01-01,File:Transparent.gif_commons.wikimedia.org_all...,11491.0,N/A,all-access,Friday,January
563,2016-01-01,File:Transparent.gif_commons.wikimedia.org_des...,10494.0,N/A,desktop,Friday,January
564,2016-01-01,First_Amendment_to_the_United_States_Constitut...,2930.0,English,all-access,Friday,January

In [15]:
df.to_excel('wikipedia_dataset_new.xlsx')